body{
    margin: 0;

}
*{
    box-sizing: border-box;
}
.scene{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    min-height: 100vh;  
}
.layer{
    position: absolute;
    left: -10%;
    top: 0;
    width: 110%;
    height: 100%;
}
.layer-bg{
    background:url('/img/layer1.png') center no-repeat;
    background-size:cover;
}
.layer1{
    background:url('/img/layer2.png') center no-repeat;
    background-size:cover;
}